/* Estilos adicionales si es necesario */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
}

.nav {
    background-color: transparent;
}

.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('assets/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

.parallax {
    background-image: url('assets/img1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative; /* Necesario para posicionar el overlay */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con 50% de opacidad */
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: 0; /* Alinea el menú desplegable a la derecha */
}


/*RESPONSIVE DESIGN*/

@media (max-width: 768px) {
    .nav-responsive {
        background-color: rgb(211, 95, 247);
    }

    #segmentacion-edad{
        margin-right: 20px;
    }

   #segmentacion-edad-2, #segmentacion-edad-2-p1, #segmentacion-edad-2-p2, #segmentacion-edad-2-p3{
    width: 80%;
    margin-left: 20px;
   }

   #desempeno-economico{
    width: 85%;
   }

   #resumen-eventos{
    height: 850px;
   }

   .absolute {
    left: 0; /* Alinea el menú a la izquierda en móviles */
    right: auto;
}

    #imagenLandingPage{
        width: 500px;
        height: 90%;
        margin-top: 20px;
    }

}