/* Estilos adicionales si es necesario */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
}

.nav {
    background-color: transparent;
}

.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .nav-responsive {
        background-color: rgb(211, 95, 247);
    }
}